@page
@model ECRS_EventManager.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.FormID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.FormID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.FormInternalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.FormInternalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.FormName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.FormName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
