@page
@model ECRS_EventManager.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].UpdatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].FormID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].FormInternalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event[0].FormName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormInternalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
